body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-navbar-color{
  background: #263238 !important;
}

.list-group-item.active{
  background: #e3eae7!important;
  color: #000!important;
  border: none !important;
  /* border-radius: 15px; */
}

.list-group-item{
  border: none !important;
}

.list-group-item:hover{
  cursor: pointer;
}
